ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color: red;
}
li[value="3"]{
  color:darkgreen;
}
li[value="4"]{
  color: blue;
}
